.map-page-content {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  width: 100%;
  height: calc(100vh - 64px); /* Subtract header height */
  margin-top: 4.5rem; 
  padding-bottom: 20px;/* Add margin equal to header height */
  gap: 20px;
  padding-right: 435px; /* Account for itinerary panel width + margin */
}

.navbar-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 30px;
  align-items: center;
}

.navbar-column button {
  background: transparent;
  border: none;
  font-weight: 500;
  padding: 8px 16px;
  transition: color 0.2s ease;
  width: 10rem;
  align-items: center;
}

.navbar-column button:hover {
  color: #1a4b6e;
}

.map-container {
  flex: 2;
  min-width: 0;
  min-height: 0;
  border-radius: 20px;
  width: calc(100% - 435px); /* Subtract itinerary panel width + margin */
}

.itinerary-panel {
  min-width: 320px;
  max-width: 400px;
  min-height: 0;
  max-height: 100vh;
  height: 95.6%;
  border-radius: 20px;
  margin-right: 1rem;
  position: absolute;
  right: 0;
  top: 1rem;
} 